

.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.col{
    display: flex;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.content input{
    width: 200px;
    height: 20px;
}

.content button{
    width: 100px;
    height: 30px;
    background-color: #0d6efd;
    color: white;
    border: transparent;
}

.content p{
    font-size: larger;
}
