
body{
    background-color: #202124;
}

p, h1, h2, h3, h4, h5, h6, span, div, a, li, td, th, label{
    color: white;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #414141;
}

.container{
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#toggleArrowDown{
    margin-left: 5px;
    display: none;
}

#toggleArrowUp){
  margin-left: 5px;
}

#nightOn{
    display: none;
}

.titleForm{
    width: 75%;
    gap: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    color: white;
}

.userInfo{
    width: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

#username{
    margin-left: 5px;
    font-weight: bold;
}

#userdropname{
    color: rgb(5, 255, 47);
}

.dropdown {
    display: inline-block;
    position: relative;
    text-align: center;
  }

    .dropdown i{
      cursor: pointer;
    }

  @keyframes fade-down {
    0% {
      max-height: 0;
      opacity: 0;
    }

    100% {
      max-height: 300px; /* Adjust the max height to suit your content */
      opacity: 1;

    }
  }

  @keyframes fade-down-text{
    0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #202124;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: fade-down 1.5s;
  }

    .dropdown-content p ,i{
      animation: fade-down-text 1s;
    }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    animation: fade-down-text 1s;
    display: block;
  }


  .dropdown-content a:hover {
    background-color: #1f1f1f;
  }

  .dropdown-content form{
    margin-bottom: -20px;
  }


#logout{
    background-color: #198754;
    border: transparent;
    color: white;
    height: 30px;
    width: 100px;
    margin-bottom: 30px;
}

button:hover{
    cursor: pointer;
}

.addBtn{
    justify-self: flex-end;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #202124;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#confirm {
    border: transparent;
    background-color: #0d6efd;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

#confirm:hover{
    transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#cancel{
    margin: 10px;
    border: transparent;
    background-color: #dc3545;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

#cancel:hover{
    transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#newEntry{
    background-color: #198754;
    border: transparent;
    color: white;
    height: 30px;
    width: 100px;
}

#newEntry:hover{
    transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tcontainer{
    display:flex;
    justify-content: center;
}

#updateBtn{
    background-color: #0d6efd;
    border: transparent;
    color: white;
    height: 30px;
}

#updateBtn:hover{
    transform: scale(1.02);
}

#buttons{
    display: flex;
    gap: 10px;
}

#deleteBtn{
     background-color: #dc3545;
     border: transparent;
     color: white;
     height: 30px;
 }

 #deleteBtn:hover{
     transform: scale(1.02);
 }

#buttons{
     display: flex;
     justify-content: center;
 }