<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Student</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/addStudent.css?version=51}" />
</head>
<body>
<div class="container">
  <div class="col">
    <div class="header">
      <p id="card-header">Add Student to the Database</p>
    </div>
    <div class="card-body">
      <form th:action="@{/student/add}" method="post" th:object="${student}">
        <input type="text"  th:field="*{firstName}"  placeholder="First Name">
        <span th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}"
              class="error"></span>

        <input type="text"  th:field="*{lastName}"  placeholder="Last Name">
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"
              class="error"></span>
        <input type="text"  th:field="*{age}"  placeholder="Age">
        <span th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}"
              class="error"></span>
        <input type="text" th:field="*{degree}" placeholder="Degree">
        <span th:if="${#fields.hasErrors('degree')}"
              th:errors="*{degree}"
              class="error"></span>
        <div id="buttons">
          <button name="submitButton" value="update" type="submit">Update</button>
          <a href="/student/list" id="cancelBtn">Cancel</a>
        </div>

      </form>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/JavaScript/AddStudent.js"></script>
</body>
</html>