<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Student</title>
  <link rel="stylesheet" type="text/css" th:href="@{/addStudent.css?version=51}" />
</head>
<body>
<div class = "container">
  <div class = "col">
    <div class = "header">
      <p id="card-header">Add Student to the Database<p>
    </div>
    <div class = "card-body">
      <form action="/student/add" method="post">
        <input type="text" name="firstName" th:value="${firstName}" id="firstName" placeholder="First Name">
        <input type="text" name="lastName" th:value="${lastName}" id="lastName" placeholder="Last Name">
        <input type="text" name="age" th:value="${age}" id="age" placeholder="Age">
        <input type="text" name="degree" th:value="${degree}" id="degree" placeholder="Degree">
        <div id="buttons">
          <button name="submitButton" value="update" type="submit">Update</button>
          <button name="submitButton" value="cancel" type="submit">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</div>

</body>
</html>