<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="col">
    <div class="header">
      <p id="card-header-title">Register New User</p>

    </div>
    <div class="card-body">
      <form action="#" th:action="@{/register/newuser}" method="post" th:object = "${user}">
        <label for="username" th:text="${registrationError}">
        </label>
        <input type="text" id="username" th:field="*{username}" placeholder="Username">
        <input type="password" th:field="*{password}" id="password" placeholder="Password">
        <button name="submitButton" value="update" type="submit">Register</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>