<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/studentList.css?version=51}" />
</head>
<body>
<div class = "container">
    <div class="titleContainer">
        <h1>Student List</h1>
        <form action="/student/new/" method="get">
            <button id="newEntry" type="submit">New Entry</button>
        </form>
    </div>

    <div class="popup">
        <div class="popup-content">
            <h2>Confirmation</h2>
            <p>Are you sure you want to proceed?</p>
            <div class="buttons">
                <button id="confirm">Confirm</button>
                <button id="cancel">Cancel</button>
            </div>
        </div>
    </div>

<div class = "tcontainer">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Degree</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentArrayList}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.degree}"></td>
            <td id="buttons">
                <form th:action="@{'/student/update/user/' + ${student.id}}" method="get">
                    <button id="updateBtn" type="submit">Update</button>
                </form>
                <form action="/student/list" method="post" id="deleteForm">
                    <input type="hidden" name="id" th:value="${student.id}" />
                    <button id="deleteBtn" name="id" th:value="${student.id}" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <script src="/JavaScript/StudentList.js"></script>

</body>
</html>