<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/studentList.css?version=51}" />
</head>
<body>
<div class = "container">
    <div class="titleContainer">
        <div class="titleForm">
            <h1>Student List</h1>
            <form sec:authorize="hasRole('ROLE_ADMIN')" action="/student/new/" method="get">
                <button id="newEntry" type="submit">New Entry</button>
            </form>
        </div>
        <div class="userInfo">
            <div class="dropdown">
                <div id="hover">
                <i id="userProfile" class="fa-solid fa-circle-user fa-2xl" style="color: #49e478;"></i>
                <span id="username" sec:authentication="name"></span>
                <i id="toggleArrowUp" class="fa-solid fa-arrow-up fa-xs"></i>
                <i id="toggleArrowDown" class="fa-sharp fa-solid fa-arrow-down fa-xs"></i>
                </div>
                <div class="dropdown-content">
                    <!-- Add your dropdown menu items here -->
                    <p>Hello <span id="userdropname" sec:authentication="name">!</span>!</p>
                    <hr>
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <hr>
                    <form th:action="@{/logout}" method="post">
                    <button id="logout" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="popup-content">
            <h2>Confirmation</h2>
            <p>Are you sure you want to proceed?</p>
            <div class="buttons">
                <button id="confirm">Confirm</button>
                <button id="cancel">Cancel</button>
            </div>
        </div>
    </div>

<div class = "tcontainer">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Degree</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentArrayList}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.degree}"></td>

            <td sec:authorize="hasRole('ROLE_ADMIN')" id="buttons">
                <form th:action="@{'/student/update/user/' + ${student.id}}" method="get">
                    <button id="updateBtn" type="submit">Update</button>
                </form>
                <form th:action="@{/student/list}" method="post" id="deleteForm">
                    <input type="hidden" name="id" th:value="${student.id}" />
                    <button id="deleteBtn" name="id" th:value="${student.id}" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <script src="https://kit.fontawesome.com/53b6352d14.js" crossorigin="anonymous"></script>
    <script src="/JavaScript/ProfileInteractivity.js"></script>
    <script src="/JavaScript/StudentList.js"></script>

</body>
</html>