<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Updating Student</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/updateStudent.css?version=51}" />
</head>
<body>
<div class = "container">
  <div class = "col">
    <div class="header">
      <p th:inline="text" id="card-header" style="font-size: larger; font-weight: bold;">Updating student
        <span th:inline="text" style="color: #6658d3;">[[${firstName}]] [[${lastName}]]</span>
      </p>
    </div>
    <div class = "card-body">
      <form th:action="@{/student/update}" method="post" th:object="${student}">
        <input type = "hidden" name="idToUpdate" th:value="${idToUpdate}" id="idToUpdate">
        <input type="text" th:value="${firstName}"  th:field="*{firstName}"  placeholder="First Name">
        <span th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}"
              class="error"></span>

        <input type="text" th:value="${lastName}"  th:field="*{lastName}"  placeholder="Last Name">
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"
              class="error"></span>
        <input type="text" th:value="${age}"  th:field="*{age}"  placeholder="Age">
        <span th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}"
              class="error"></span>
        <input type="text" th:value="${degree}" th:field="*{degree}" placeholder="Degree">
        <span th:if="${#fields.hasErrors('degree')}"
              th:errors="*{degree}"
              class="error"></span>
        <div id="buttons">
          <button name="submitButton" value="update" type="submit">Update</button>
          <button name="submitButton" value="cancel" type="submit">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/JavaScript/UpdateStudent.js"></script>
</body>
</html>