<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Updating Student</title>
  <link rel="stylesheet" type="text/css" th:href="@{/updateStudent.css?version=51}" />
</head>
<body>
<div class = "container">
  <div class = "col">
    <div class="header">
      <p th:inline="text" id="card-header" style="font-size: larger; font-weight: bold;">Updating user
        <span th:inline="text" style="color: #6658d3;">[[${firstName}]] [[${lastName}]]</span>
      </p>
    </div>
    <div class = "card-body">
      <form action="/student/update" method="post">
        <input type = "hidden" name="idToUpdate" th:value="${idToUpdate}" id="idToUpdate">
        <input type="text" name="firstName" th:value="${firstName}" id="firstName">
        <input type="text" name="lastName" th:value="${lastName}" id="lastName">
        <input type="text" name="age" th:value="${age}" id="age">
        <input type="text" name="degree" th:value="${degree}" id="degree">
        <div id="buttons">
          <button name="submitButton" value="update" type="submit">Update</button>
          <button name="submitButton" value="cancel" type="submit">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</div>

</body>
</html>